@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.medical-facility {
    width: 100%;
    margin-top: 300px;
    padding: 200px 0;
    background: $primary-background;

    position: relative;

    &__video {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        .play-btn {
            position: absolute;
            z-index: 100;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__title {
        padding-top: 100px;
    }

    &__content {
        padding: 16px 0;
        .hopital-card {
            position: relative;

            .card-image {
                object-fit: cover;
            }
            &__info {
                width: 100%;
                background: $white;
                padding: 24px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                flex-wrap: wrap;

                // position: absolute;
                // left: 50%;
                // bottom: 0;
                transform: translate(5%, -55px);

                .title {
                    @include font-style(18px, 600, $color-900);
                    line-height: 20px;
                }
                .paragraph {
                    @include font-style(14px, 400, $color-700);
                    line-height: 16px;

                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }
                .rate {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &-num {
                        @include font-style(18px, 600, $color-900);
                        line-height: 21px;
                    }
                    &-icon {
                        font-size: 24px;
                        color: $primary-default;
                    }
                }
                .arrowNext {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    width: 48px;
                    height: 48px;
                    background: #f1f9f0;
                    border-radius: 100px;

                    @include flex-center();
                }
            }
        }
    }
}
