.medical-consultation {
  padding: 24px;
  height: 369px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 50px;
  .consultation-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    height: 40px;
    margin-bottom: 16px;
    p {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: -0.04em;

      /* 900 (Title) */

      color: #1b211a;
    }
  }
}
