@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';
.wrapper {
    width: 100%;
    @include flex-center();
    min-height: 50%;
    justify-content: space-around;
}
.tittle {
    margin-bottom: 8px;
}
.tittle-chart {
    margin-bottom: 48px;
}
.chart-container {
    @include flex-between();
    margin-top: 2%;
    width: 80%;
    flex-direction: column;
    padding: 48px;
}
.chart {
    flex: 1;
    height: 100%;
    width: 100%;
}
.state {
    margin-bottom: 48px;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.state__card {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 35%;
}

.state__card__item {
    @include flex-center();
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.state__card__item-data {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}
.state__card__item-label {
    font-size: 18px;
    font-weight: 400;
}
.history {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 100%;
}
.hisroty__item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hisroty__item__info {
}
.hisroty__item__info-name {
    font-size: 18px;
    font-weight: 500;
}
.hisroty__item__info-calories {
}
.hisroty__item-button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 99999px;
}
